# .env.example
# Configuración de Base de Datos (Docker)
POSTGRES_USER=app
POSTGRES_PASSWORD=secret_app_password
POSTGRES_DB=library_db

# Cadena de conexión para Next.js
# Opción A: Si corres todo dentro de Docker
# DATABASE_URL=postgresql://app:secret_app_password@db:5432/library_db

# Opción B: Si corres Next.js en local (npm run dev)
DATABASE_URL=postgresql://app:secret_app_password@localhost:5432/library_db